th, td{
    border: 1px solid black;
    text-align: center;
    
}
table{
    border-collapse: collapse;
}
th{
   background-color:#2a4c4c;
   color: #f7f9fa;
}
.firstColumn{
    background-color:#e8eaef;
}
tbody td{
    background-color: #f7f9fa;
}
tfoot{
    background-color: black;
    color: white; 
    text-align: center;
}